// Place all the styles related to the Api::Answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.answer-response {
  // position: relative;
  margin-top: 150px;
  margin-left: 30px;
  padding-bottom: 60px;
}

.your-answer-label {
  font-size: 18px;
  font-weight: 400;
}

.answer-to-q {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
  // margin-bottom: 5px;
  font-size: 15px;
  // line-height: 1.3;
  list-style: none;
  padding: 30px;
}

.amt-of-answers-per-q {
  font-size: 18px;
  padding: 20px;
}

.answer-section {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e5e6e8;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-left: -40px;
}

.up-down {
  display: flex;
  flex-direction: column;
  color: #bbc0c4;
  padding: 10px;
  margin-right: 8px;
  margin-top: -14px;
}

.whole-answer-section {
  padding: 20px;
  margin-bottom: 140px;
}

.count-answers {
  margin-bottom: -30px;
}

.answer-errors {
  list-style: none;
  color: #d1383d;
  margin: 0; 
  padding: 0;
}