// need to move rest of navbar scss code from application to here
// will look neater

.navbar-logout-btn {
  color: #467594; 
  background-color: #DBEEFF; 
  border-color: #467594; 
  border-radius: 4px;
  margin-top: -20px;
  margin-left: -80px;
  font-size: 12px;
  padding: 8px 12px;
  position: fixed;
}

.navbar-logout-btn:hover, 
.navbar-logout-btn:focus, 
.navbar-logout-btn:active, 
.navbar-logout-btn.active, 
.open .dropdown-toggle.navbar-logout-btn { 
  color: #467594; 
  background-color: #B6DAFA; 
  border-color: #467594; 
} 

.navbar-logout-btn:active, 
.navbar-logout-btn.active, 
.open .dropdown-toggle.navbar-logout-btn { 
  background-image: none; 
} 
.navbar-logout-btn.disabled, 
.navbar-logout-btn[disabled], 
fieldset[disabled] .navbar-logout-btn, 
.navbar-logout-btn.disabled:hover, 
.navbar-logout-btn[disabled]:hover, 
fieldset[disabled] .navbar-logout-btn:hover, 
.navbar-logout-btn.disabled:focus, 
.navbar-logout-btn[disabled]:focus, 
fieldset[disabled] .navbar-logout-btn:focus, 
.navbar-logout-btn.disabled:active, 
.navbar-logout-btn[disabled]:active, 
fieldset[disabled] .navbar-logout-btn:active, 
.navbar-logout-btn.disabled.active, 
.navbar-logout-btn[disabled].active, 
fieldset[disabled] .navbar-logout-btn.active { 
  background-color: #DBEEFF; 
  border-color: #467594; 
} 

.navbar-logout-btn.badge { 
  color: #DBEEFF; 
  background-color: #467594;
}