// Place all the styles related to the api/Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questions {
    margin-top: 80px;
    margin-left: 100px;
}

.question-header {
    margin-left: 40px;
}

.question-title {
    font-size: 14px;
    color: #147dce;
}

.question-body {
    font-size: 12px;
}

.question-divider {
    width: 70%;
    margin-left: 0px;
}