// Place all the styles related to the api/Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.questions {
    margin-top: 80px;
    margin-left: 100px;
    
}

.question-first-line {
  display: flex;
  flex-direction: row;
}

.question-header {
    margin-left: 150px;
    margin-top: 130px;
}

.question-divider {
    width: 60%;
    margin-left: 20px;
}

.all-questions {
    margin-left: 150px;
    // height: 100px;
}
.ask-question-button {
  display: block;
  right: 100px;
  top: 65px;
  color: #FFFFFF; 
  background-color: #1499FF; 
  border-color: #77A4C2; 
  border-radius: 4px;
  margin: 4px 6px;
  font-size: 12px;
  padding: 8px 8px;

}

.ask-question-button:hover, 
.ask-question-button:focus, 
.ask-question-button:active, 
.ask-question-button.active, 
.open .dropdown-toggle.ask-question-button { 
  color: #FFFFFF; 
  background-color: #0A78CC; 
  border-color: #77A4C2; 
}

.ask-question-button:active, 
.ask-question-button.active, 
.open .dropdown-toggle.ask-question-button { 
  background-image: none; 
} 
 
.ask-question-button.disabled, 
.ask-question-button[disabled], 
fieldset[disabled] .ask-question-button, 
.ask-question-button.disabled:hover, 
.ask-question-button[disabled]:hover, 
fieldset[disabled] .ask-question-button:hover, 
.ask-question-button.disabled:focus, 
.ask-question-button[disabled]:focus, 
fieldset[disabled] .ask-question-button:focus, 
.ask-question-button.disabled:active, 
.ask-question-button[disabled]:active, 
fieldset[disabled] .ask-question-button:active, 
.ask-question-button.disabled.active, 
.ask-question-button[disabled].active, 
fieldset[disabled] .ask-question-button.active { 
  background-color: #1499FF; 
  border-color: #77A4C2; 
} 

.ask-question-button.badge { 
  color: #1499FF; 
  background-color: #FFFFFF; 
}

.question-form {
  margin-left: 200px;
  margin-top: 100px;
}

.post-question-btn {
  color: #FFFFFF; 
  background-color: #1499FF; 
  border-color: #77A4C2; 
  border-radius: 4px;
  margin: 4px 2px;
  font-size: 12px;
  padding: 8px 12px;
}

.post-question-btn:hover, 
.post-question-btn:focus, 
.post-question-btn:active, 
.post-question-btn.active, 
.open .dropdown-toggle.post-question-btn { 
  color: #FFFFFF; 
  background-color: #0A78CC; 
  border-color: #77A4C2; 
}

.post-question-btn:active, 
.post-question-btn.active, 
.open .dropdown-toggle.post-question-btn { 
  background-image: none; 
} 
 
.post-question-btn.disabled, 
.post-question-btn[disabled], 
fieldset[disabled] .post-question-btn, 
.post-question-btn.disabled:hover, 
.post-question-btn[disabled]:hover, 
fieldset[disabled] .post-question-btn:hover, 
.post-question-btn.disabled:focus, 
.post-question-btn[disabled]:focus, 
fieldset[disabled] .post-question-btn:focus, 
.post-question-btn.disabled:active, 
.post-question-btn[disabled]:active, 
fieldset[disabled] .post-question-btn:active, 
.post-question-btn.disabled.active, 
.post-question-btn[disabled].active, 
fieldset[disabled] .post-question-btn.active { 
  background-color: #1499FF; 
  border-color: #77A4C2; 
} 

.post-question-btn.badge { 
  color: #1499FF; 
  background-color: #FFFFFF; 
}

.ind-question-page {
  margin-top: 100px;
  margin-left: 100px;
}

.ind-question {
  list-style-type: none;
}