// Place all the styles related to the api/Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-question-page {
  background-color: #eff0f1;
  height: 900px;
  margin-top: -40px;
  position: relative;
  width: 100%;
}

.ask-question-header {
  padding: 40px;
  margin-top: 10px;
  font-size: 28px;
  margin-left: -100px;
}

.ask-question-form {
  -webkit-box-shadow: 0 0 6px #d6d9dc;
  box-shadow: 0 0 6px #d6d9dc;
  border-radius: 3px;
  width: 800px;
  margin-left: -60px;
  background-color: white;
}

.question-index-columns {
  display: flex;
  flex-direction: row;
}

.question-index-sidebar {
  position: fixed;
  margin-top: 100px;
}

.question-index-navbar {
  position:fixed;
}

.questions {
    margin-top: 60px;
    margin-left: 200px;
    padding: 18px;
    border-left: 1px solid #d7d9dc;
}

.question-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-header {
  font-size: 28px;
  padding: 4px;
}

.question-divider {
    width: 60%;
    margin-left: 20px;
}

.all-questions {
    margin-left: 150px;
    // height: 100px;
}


.ask-question-button {
  // display: block;
  // margin-left: 100px;
  // top: 65px;
  color: #FFFFFF; 
  background-color: #1499FF; 
  // border-color: #77A4C2; 
  border: 1px solid #77A4C2;
  border-radius: 4px;
  margin: 4px 6px;
  font-size: 14px;
  padding: 10px 10px;
  display: block;
  margin-top: 10px;
  // display: relative;
  // outline: 1px solid #7ec0ff;
}

.ask-question-button:hover, 
.ask-question-button:focus, 
.ask-question-button:active, 
.ask-question-button.active, 
.open .dropdown-toggle.ask-question-button { 
  color: #FFFFFF; 
  background-color: #0A78CC; 
  border-color: #77A4C2; 
}

.ask-question-button:active, 
.ask-question-button.active, 
.open .dropdown-toggle.ask-question-button { 
  background-image: none; 
} 
 
.ask-question-button.disabled, 
.ask-question-button[disabled], 
fieldset[disabled] .ask-question-button, 
.ask-question-button.disabled:hover, 
.ask-question-button[disabled]:hover, 
fieldset[disabled] .ask-question-button:hover, 
.ask-question-button.disabled:focus, 
.ask-question-button[disabled]:focus, 
fieldset[disabled] .ask-question-button:focus, 
.ask-question-button.disabled:active, 
.ask-question-button[disabled]:active, 
fieldset[disabled] .ask-question-button:active, 
.ask-question-button.disabled.active, 
.ask-question-button[disabled].active, 
fieldset[disabled] .ask-question-button.active { 
  background-color: #1499FF; 
  border-color: #77A4C2; 
} 

.ask-question-button.badge { 
  color: #1499FF; 
  background-color: #FFFFFF; 
}

.count-unanswered-q {
  padding: 6px;
}

.question-form {
  margin-left: 200px;
  margin-top: 100px;
}

.post-question-btn {
  color: #FFFFFF; 
  background-color: #1499FF; 
  border-color: #77A4C2; 
  border-radius: 4px;
  margin: 4px 2px;
  font-size: 12px;
  padding: 8px 12px;
  margin-top: 30px;
}

.post-question-btn:hover, 
.post-question-btn:focus, 
.post-question-btn:active, 
.post-question-btn.active, 
.open .dropdown-toggle.post-question-btn { 
  color: #FFFFFF; 
  background-color: #0A78CC; 
  border-color: #77A4C2; 
}

.post-question-btn:active, 
.post-question-btn.active, 
.open .dropdown-toggle.post-question-btn { 
  background-image: none; 
} 
 
.post-question-btn.disabled, 
.post-question-btn[disabled], 
fieldset[disabled] .post-question-btn, 
.post-question-btn.disabled:hover, 
.post-question-btn[disabled]:hover, 
fieldset[disabled] .post-question-btn:hover, 
.post-question-btn.disabled:focus, 
.post-question-btn[disabled]:focus, 
fieldset[disabled] .post-question-btn:focus, 
.post-question-btn.disabled:active, 
.post-question-btn[disabled]:active, 
fieldset[disabled] .post-question-btn:active, 
.post-question-btn.disabled.active, 
.post-question-btn[disabled].active, 
fieldset[disabled] .post-question-btn.active { 
  background-color: #1499FF; 
  border-color: #77A4C2; 
} 

.post-question-btn.badge { 
  color: #1499FF; 
  background-color: #FFFFFF; 
}

.ind-question-page {
  margin-left: 100px;
  // margin-right: 250px;
  width: 875px;
  border-left: 1px solid #d7d9dc;
}

.ind-question {
  border-top: 1px solid #d7d9dc;
  list-style-type: none;
  padding: 12px 12px;
  margin-bottom: 60px;
  margin-left: -20px;
  display: flex;
  flex-direction: row;
}

.ind-question-title-section {
  display: flex;
  flex-direction: column;
}

.ind-question-left-side {
  margin-left: 20px;
  margin-top: 20px;
}

.ind-question-middle {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 20px;
}

.ind-question-right-side {
  margin-left: 460px;
  margin-top: 20px;
  line-height: 60%;
}

.link-to-question {
  list-style-type: none;
  font-size: 16px;
  color: #0077cc;
}

.link-to-question:hover {
  color: #0294ff;
  text-decoration: none;
}

.ind-body {
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.answer-btn {
  color: #FFFFFF; 
  background-color: #1499FF; 
  border: 1px solid  #77A4C2;
  // border-color: #77A4C2; 
  border-radius: 4px;
  margin: 4px 2px;
  font-size: 12px;
  padding: 8px 12px;
}

.answer-btn:hover, 
.answer-btn:focus, 
.answer-btn:active, 
.answer-btn.active, 
.open .dropdown-toggle.answer-btn { 
  color: #FFFFFF; 
  background-color: #0A78CC; 
  border-color: #77A4C2; 
}

.answer-btn:active, 
.answer-btn.active, 
.open .dropdown-toggle.answer-btn { 
  background-image: none; 
} 
 
.answer-btn.disabled, 
.answer-btn[disabled], 
fieldset[disabled] .answer-btn, 
.answer-btn.disabled:hover, 
.answer-btn[disabled]:hover, 
fieldset[disabled] .answer-btn:hover, 
.answer-btn.disabled:focus, 
.answer-btn[disabled]:focus, 
fieldset[disabled] .answer-btn:focus, 
.answer-btn.disabled:active, 
.answer-btn[disabled]:active, 
fieldset[disabled] .answer-btn:active, 
.answer-btn.disabled.active, 
.answer-btn[disabled].active, 
fieldset[disabled] .answer-btn.active { 
  background-color: #1499FF; 
  border-color: #77A4C2; 
} 

.answer-btn.badge { 
  color: #1499FF; 
  background-color: #FFFFFF; 
}

.ind-question-page {
  margin-left: 200px;
  margin-top: -152px;
}

.ind-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #e5e6e8;
  padding-bottom: 20px;
  padding-left: 14px;
  padding-top: 20px;
  margin-top: 210px;
}

.ind-question-title {
  font-size: 30px;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;

}

.ind-question-body {
  margin-top: 50px;
  font-size: 16px;
  width: 700px;
  margin-left: 80px;
  margin-bottom: 100px;
}

.question-errors {
  list-style: none;
  color: #d1383d;
  // text-align: left;
  margin: 0; 
  padding: 0;
}

.questions-index-note {
  margin-top: 90px;
  margin-right: 50px;
  // width: 100px;
}

// .ask-question-footer {
//   position: relative;
// }

.ask-question-form-title {
  padding: 18px;
}

.ask-question-form-body {
  padding: 18px;
}

.ask-question-form-tags {
  padding: 18px;
}

.post-question-btn-container {
  margin-left: -60px;
}

.ask-question-title-textbox {
  width: 760px;
}

.ask-question-midsection {
  display: flex;
  flex-direction: row;
}

.ask-question-directions {
  margin-top: 230px;
  margin-left: 60px;
  width: 350px;
  padding: 20px;
  height: 240px;
  background-color: #d6d9dc;
  -webkit-box-shadow: 0 0 6px #d6d9dc;
  box-shadow: 0 0 6px #d6d9dc;
  border-radius: 3px;
}

.ask-question-directions-description {
  line-height: 60%;
  // margin-top: 20px;
}

.avoid-tip {
  margin-top: 20px;
}

.ask-question-steps {
  margin-top: 20px;
}

.ask-question-bottom {
  background-color: white;
  width: 350px;
  margin-left: -20px;
  height: 195px;
  padding: 15px;
}

.ask-question-step1 {
  margin-top: -15px;
}

.ind-question-sidebar {
  margin-top: 100px;
  position: fixed;
}

.ind-question-midsection {
  display: flex;
  flex-direction: row;
}

.ind-question-note {
  margin-top: 90px;
  margin-left: 20px;
}

.answer-date {
  margin-left: 500px;
}

.ind-question-navbar {
  position: fixed;
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index:999999;
}


.answer-author {
  margin-left: 500px;
}

.answer-up {
  cursor: pointer;
}

.answer-up.active {
  color: #f47f25;
}

.answer-down {
  cursor: pointer;
}

.answer-down.active {
  color: #f47f25;
}

.vote-count {
  margin-left: 12px;
  color: #6a737c;
}