// .answer-up {
//   cursor: pointer;
// }

// .answer-down {
//   cursor: pointer;
//   color: #bbc0c4;
// }

.voting-btns {
  margin-right: 40px;
}

.fa-caret-up {
  cursor: pointer;
}

.fa-caret-down {
  cursor: pointer;
}