// .answer-up {
//   cursor: pointer;
//   color: #bbc0c4;
// }

// .answer-up.active {
//   color: #f47f25;
// }

.answer-down {
  cursor: pointer;
  color: #bbc0c4;
}

.answer-down:active {
  color: #f47f25;
}

.voting-btns {
  margin-right: 40px;
}
