/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body, div {
   padding: 0;
   margin: 0;
   font-family: sans-serif;
 }

 

  .nav-bar-container {
    padding: 4px 8px;
    border: 1px solid lightgray;
    border-top: 4px solid orange;
    background-color: #fafafb;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .nav-bar-header {
    font-size: 20px;
    padding: 4px 8px;
  }

  .for-word-proofs {
    display: inline-block;
    margin-left: 8px;
    margin-right: 4px;
  }

  .for-word-line {
    display: inline-block;
    font-weight: bold;
  }
// .nav-bar-buttons {
//   display: flex;
//   justify-content: flex-end;
// }

.btn-login { 
  color: #467594; 
  background-color: #DBEEFF; 
  border-color: #467594; 
  border-radius: 4px;
  margin: 4px 2px;
  font-size: 12px;
  padding: 8px 12px;
} 
 
.btn-login:hover, 
.btn-login:focus, 
.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  color: #467594; 
  background-color: #B6DAFA; 
  border-color: #467594; 
} 
 
.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  background-image: none; 
} 
 
.btn-login.disabled, 
.btn-login[disabled], 
fieldset[disabled] .btn-login, 
.btn-login.disabled:hover, 
.btn-login[disabled]:hover, 
fieldset[disabled] .btn-login:hover, 
.btn-login.disabled:focus, 
.btn-login[disabled]:focus, 
fieldset[disabled] .btn-login:focus, 
.btn-login.disabled:active, 
.btn-login[disabled]:active, 
fieldset[disabled] .btn-login:active, 
.btn-login.disabled.active, 
.btn-login[disabled].active, 
fieldset[disabled] .btn-login.active { 
  background-color: #DBEEFF; 
  border-color: #467594; 
} 
 
.btn-login .badge { 
  color: #DBEEFF; 
  background-color: #467594; 
}

.btn-signup { 
  color: #FFFFFF; 
  background-color: #1499FF; 
  border-color: #77A4C2; 
  border-radius: 4px;
  margin: 4px 2px;
  font-size: 12px;
  padding: 8px 12px;
} 
 
.btn-signup:hover, 
.btn-signup:focus, 
.btn-signup:active, 
.btn-signup.active, 
.open .dropdown-toggle.btn-signup { 
  color: #FFFFFF; 
  background-color: #0A78CC; 
  border-color: #77A4C2; 
} 
 
.btn-signup:active, 
.btn-signup.active, 
.open .dropdown-toggle.btn-signup { 
  background-image: none; 
} 
 
.btn-signup.disabled, 
.btn-signup[disabled], 
fieldset[disabled] .btn-signup, 
.btn-signup.disabled:hover, 
.btn-signup[disabled]:hover, 
fieldset[disabled] .btn-signup:hover, 
.btn-signup.disabled:focus, 
.btn-signup[disabled]:focus, 
fieldset[disabled] .btn-signup:focus, 
.btn-signup.disabled:active, 
.btn-signup[disabled]:active, 
fieldset[disabled] .btn-signup:active, 
.btn-signup.disabled.active, 
.btn-signup[disabled].active, 
fieldset[disabled] .btn-signup.active { 
  background-color: #1499FF; 
  border-color: #77A4C2; 
} 
 
.btn-signup .badge { 
  color: #1499FF; 
  background-color: #FFFFFF; 
}



.whole-login-page {
  width: 100%;
  height: 1000px;
  // margin: 500px;
  background-color: #eff0f1;
  background-position: center;
}

.session-form-center {
  // position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  // margin: 10px 250px;
  width: 0vw;
  position: fixed;
  top: 38%;
  left: 50%;
}
.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 12px 36px;
  // margin: 200px 400px;
  background-color: white;
  box-shadow: 0 0 8px lightgray;
  // position: relative;
}

.login-email, .login-password {
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.logo {
  position: absolute;
  top: -60px;
  height: 32px;
}

.input {
  position: absolute;
}
// .login-form-buttons {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
// }

.login-form-button { 
  color: #FFFFFF; 
  background-color: #0394ff; 
  border-color: #7dbfff; 
  border-radius: 3px;
  margin: 4px 2px;
  padding: 10px 10px 10px;
  font-size: 12px;
  width: 200px;
  display: inline-block;
  // text-align: center;
  // width: fit-content;
  // line-height: 2;
  box-shadow: 0 -1px#b7cbbe;
} 
 
.login-form-button:hover, 
.login-form-button:focus, 
.login-form-button:active, 
.login-form-button.active, 
.open .dropdown-toggle.login-form-button { 
  color: #FFFFFF; 
  background-color: #0176cc; 
  border-color:#78ade1; 
  box-shadow: #0176cc;
} 
 
.login-form-button:active, 
.login-form-button.active, 
.open .dropdown-toggle.login-form-button { 
  background-image: none; 
} 
 
.login-form-button.disabled, 
.login-form-button[disabled], 
fieldset[disabled] .login-form-button, 
.login-form-button.disabled:hover, 
.login-form-button[disabled]:hover, 
fieldset[disabled] .login-form-button:hover, 
.login-form-button.disabled:focus, 
.login-form-button[disabled]:focus, 
fieldset[disabled] .login-form-button:focus, 
.login-form-button.disabled:active, 
.login-form-button[disabled]:active, 
fieldset[disabled] .login-form-button:active, 
.login-form-button.disabled.active, 
.login-form-button[disabled].active, 
fieldset[disabled] .login-form-button.active { 
  background-color: #0176cc; 
  border-color: #78ade1; 
  box-shadow: #0176cc;
} 
 
.login-form-button.badge { 
  color: #0176cc; 
  background-color: #FFFFFF; 
  box-shadow: #0176cc;
}

.login-textbox {
  border-radius: 4px;
  border: 0.5px solid lightgray;
  padding: 6px;
}

.whole-signup-form {
  width: 100%;
  height: 1000px;
  // margin: 500px;
  background-color: #eff0f1;
  background-position: center;
  // position: fixed;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  margin: 20px 200px;
  position: fixed;
  top: 30%;
  left: 40%;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: lightgray;
  background-color: white;
  // float: right;
}

.signup-description {
  display: flex;
  // justify-content: center;
  padding: 10px 10px;
  flex-direction: column;
  // margin: 10px 250px;
  // width: 0vw;
  position: fixed;
  top: 38%;
  left: 20%;
}

.signup-submit-btn {
  color: #FFFFFF; 
  background-color: #0394ff; 
  border-color: #7dbfff; 
  border-radius: 3px;
  margin: 4px 2px;
  padding: 10px 10px 10px;
  font-size: 12px;
  width: 180px;
  display: inline-block;
  // text-align: center;
  // width: fit-content;
  // line-height: 2;
  box-shadow: 0 -1px#b7cbbe;
}

.signup-submit-btn:hover, 
.signup-submit-btn:focus, 
.signup-submit-btn:active, 
.signup-submit-btn.active, 
.open .dropdown-toggle.signup-submit-btn { 
  color: #FFFFFF; 
  background-color: #0176cc; 
  border-color:#78ade1; 
  box-shadow: #0176cc;
} 

.signup-submit-btn:active, 
.signup-submit-btn.active, 
.open .dropdown-toggle.signup-submit-btn { 
  background-image: none; 
} 
 
.signup-submit-btn.disabled, 
.signup-submit-btn[disabled], 
fieldset[disabled] .signup-submit-btn, 
.signup-submit-btn.disabled:hover, 
.signup-submit-btn[disabled]:hover, 
fieldset[disabled] .signup-submit-btn:hover, 
.signup-submit-btn.disabled:focus, 
.signup-submit-btn[disabled]:focus, 
fieldset[disabled] .signup-submit-btn:focus, 
.signup-submit-btn.disabled:active, 
.signup-submit-btn[disabled]:active, 
fieldset[disabled] .signup-submit-btn:active, 
.signup-submit-btn.disabled.active, 
.signup-submit-btn[disabled].active, 
fieldset[disabled] .signup-submit-btn.active {
  background-color: #0176cc; 
  border-color: #78ade1; 
  box-shadow: #0176cc;
}

.signup-submit-btn.badge { 
  color: #0176cc; 
  background-color: #FFFFFF; 
  box-shadow: #0176cc;
}

.signup-textbox {
  border-radius: 4px;
  border: 0.5px solid lightgray;
  padding: 6px;
}