// styling for the home page
.home-page-nav-bar {
    position: fixed;
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index:999999;
}
.home-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    margin-top: 280px;
    text-align: center;
}

.bg-main {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 488px;
    background-color: #ffcf0c;
    overflow: hidden;
}

.splash-page-words {
    position: absolute;
    margin-top: 50px;
}

.home-container1-header {
    font-size: 46px;
    padding: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: bolder;
    margin-top: -30px;
}

.description1 {
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    line-height: 90%;
    margin-top: 18px;
}

.home-page-scroll-btns {
    display: flex;
    justify-content: center;
}

.scroll-btn {
    padding: 6px;
}

.scroll-to-math {
    background-color: white;
    color: #f4822b;
    border: 1px solid #f4822b;
    padding: 14px 18px;
    border-radius: 3px;
}

.scroll-to-business {
    background-color: #f4822b;
    color: white;
    border: 1px solid #f4822b;
    padding: 14px 18px;
    border-radius: 3px;
}
.background {
    margin-top:-5px;
    display: flex;
    max-width:1600px;
    max-height:1800px;
    width: auto;
    height: auto;
    // margin-left: -80px;
    position: absolute;
    // position: fixed;
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
}

.background-change {
    display: none;
}

.description1-change {
    display: none;
}


// responsive splash page background
@media only screen and (max-width: 630px) {
    .background {
        display: none;
    }

    .background-change {
        display: block;
        max-width:600px;
        max-height:600px;
        width: auto;
        height: auto;
    }

    .home-container1-header {
        font-size: 28px;
        margin-top: 3px;
    }

    .description1 {
        display: none;
    }

    .description1-change {
        display: block;
        font-family: 'Source Sans Pro',sans-serif;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        line-height: 80%;
        margin-top: 18px;
    }

    .home-page-scroll-btns {
        display: flex;
        flex-direction: column;
    }

    .scroll-to-math {
        font-size: 13px;
        padding: 14px 5px;
    }

    .scroll-to-business {
        font-size: 13px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
}

.home-container2 {
    margin-top: 300px;
    padding: 6px;
}

.before-boxes {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.second-home-header {
    padding: 6px;
    font-size: 28px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}

.orange-divider {
    height: 40px;
    width: 60px;
}

.link-to-questions, .link-to-signup {
    color: #F48024;
}

.link-to-questions:hover, .link-to-signup:hover {
    text-decoration: none;
    color: #F48024;
}

.description2 {
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    line-height: 90%;
    margin-top: 18px;
}

.three-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}

.public-q-and-a {
    -webkit-box-shadow: 0 0 6px lightgray;
    box-shadow: 0 0 6px lightgray;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    margin-right: 200px;
    width: 320px;
}

.public-q-and-a:hover {
    -webkit-box-shadow: 0 0 20px lightgray;
    box-shadow: 0 0 20px lightgray;
}

.public-q-and-a-img {
    width: 240px;
    padding: 2px;
}

.private-q-and-a {
    -webkit-box-shadow: 0 0 6px lightgray;
    box-shadow: 0 0 6px lightgray;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    position: absolute;
    width: 320px;
}

.private-q-and-a:hover {
    -webkit-box-shadow: 0 0 20px lightgray;
    box-shadow: 0 0 20px lightgray;
}

.private-q-and-a-img {
    width: 240px;
    padding: 2px;
}

.browse-jobs {
    -webkit-box-shadow: 0 0 6px lightgray;
    box-shadow: 0 0 6px lightgray;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 50px;
    width: 320px;
}

.browse-jobs:hover {
    -webkit-box-shadow: 0 0 20px lightgray;
    box-shadow: 0 0 20px lightgray;
}

.browse-jobs-img {
    width: 240px;
    padding: 2px;
}

.three-boxes-title {
    font-family: 'Roboto Slab';
    font-weight: 200;
    font-size: 24px;
    padding: 4px;
}

.box-description {
    text-align: center;
    font-family: 'Source Sans Pro',sans-serif;
    line-height: 60%;
    font-size: 15px;
    padding: 4px;
}

.browse-questions-btn, .find-a-job-btn {
    background-color: #2b2d6e;
    font-family: 'Source Sans Pro',sans-serif;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    font-size: 15px;
    border: none;
} 

.try-for-free-btn {
    background-color: #f47f25;
    font-family: 'Source Sans Pro',sans-serif;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
    font-size: 15px;
    border: none;
}

.home-container3 {
    background-color: #f7f6f9;
    height: 650px;
}

.share-img, .find-img, .rocket-img {
    width: 100px;
    height: 100px;
}

.share, .find, .rocket {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 0 0 10px lightgray;
    box-shadow: 0 0 10px lightgray;
    border-radius: 6px;
    width: 380px;
}

.share-description, .find-description, .rocket-description {
    padding: 6px;
    font-family: 'Source Sans Pro',sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 90%;
    margin-top: 6px;
    margin-right: 14px;
}

.share-description, .find-description {
    margin-top: 12px;
}

.third-home-header {
    margin-top: 130px;
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}