.login-navbar {
  position: relative;
  z-index: 9998!important;
}

.session-form-main {
  position: fixed;
  width: 100%;
  background-color: #eff0f1;
  height: 100%;
}

.session-form-center-wrapper {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.session-form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid lightgray;
  border-radius: 4px;
  padding: 30px 30px;
  background-color: white;
  box-shadow: 0 0 8px lightgray;
  margin-top: 40px;
}

.login-email, .login-password {
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.icon {
  top: 200px;
  height: 30px;
  margin-top: 200px;
  width: 65px;
}

.input {
  position: absolute;
}

.login-form-button {
  color: #FFFFFF; 
  background-color: #0394ff; 
  border-color: #7dbfff; 
  border-radius: 3px;
  margin: 4px 2px;
  padding: 10px 10px 10px;
  font-size: 12px;
  width: 100%;
  display: inline-block;
  box-shadow: 0 -1px#b7cbbe;
} 

.login-form-button:hover, 
.login-form-button:focus, 
.login-form-button:active, 
.login-form-button.active, 
.open .dropdown-toggle.login-form-button { 
  color: #FFFFFF; 
  background-color: #0176cc; 
  border-color:#78ade1; 
  box-shadow: #0176cc;
} 
 
.login-form-button:active, 
.login-form-button.active, 
.open .dropdown-toggle.login-form-button { 
  background-image: none; 
} 

.login-form-button.disabled, 
.login-form-button[disabled], 
fieldset[disabled] .login-form-button, 
.login-form-button.disabled:hover, 
.login-form-button[disabled]:hover, 
fieldset[disabled] .login-form-button:hover, 
.login-form-button.disabled:focus, 
.login-form-button[disabled]:focus, 
fieldset[disabled] .login-form-button:focus, 
.login-form-button.disabled:active, 
.login-form-button[disabled]:active, 
fieldset[disabled] .login-form-button:active, 
.login-form-button.disabled.active, 
.login-form-button[disabled].active, 
fieldset[disabled] .login-form-button.active { 
  background-color: #0176cc; 
  border-color: #78ade1; 
  box-shadow: #0176cc;
} 

.login-form-button.badge { 
  color: #0176cc; 
  background-color: #FFFFFF; 
  box-shadow: #0176cc;
}

.login-textbox {
  border-radius: 4px;
  border: 0.5px solid lightgray;
  padding: 6px;
}

.login-errors {
  color: #d1383d;
  list-style-type: none;
  font-size: 10px;
  position: relative;
  left: -30px;
}

.under-login {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 300px;
  margin-left: 90px;
  transform: translate(-20%, -50%);
  margin-top: 20px;
}
