// need to move rest of navbar scss code from application to here
// will look neater

.home-nav-bar-container-wrapper {
  padding: 4px 8px;
  border: 1px solid lightgray;
  border-top: 4px solid #f47f25;
  background-color: #fafafb;
  left: 0; 
  top: 0;
  max-width: 8000px;
  height: 55px;
  display: flex;
  justify-content: center;
}

.nav-bar-container {
  width: 100%;
}

.nav-bar-header {
  padding: 4px;
  // display: inline-block;
  // display: flex;
  // justify-content: center;
  // display: block;
  float: left;
  // left: -20%;
  // position: relative;
  // text-align: left;
  // width: 25%;
  margin-left: 10%;
  // margin: 0 auto;
  // display: flex;
  // align-items: row;
}


.dropdown {
  left: -10px;
}

.dropdown-content {
  display: none;
  position: fixed;
  margin-top: 27px;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-left: -10px;
}

.dropdown-content p {
  color: #525a60;
  padding: 6px 30px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  margin-left: -15px;
  max-width: 120px;
}

.dropdown-icon.active .dropdown-content {
  display: block;
}

.dropdown-public {
  font-size: 12px;
  font-family: Arial;
  font-weight: 200;
}

.dropdown-home {
  background-color: #848d93;
  text-align: left;
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
}

.dropdown-home-link:hover {
  text-decoration: none;
}

.home-word {
  color: black;
  font-weight: bold;
}

.dropdown-question-link:hover {
  text-decoration: none;
}

.dropdown-questions-word {
  position: relative;
  left: 10px;
  font-weight: 500;
}

.dropdown-questions-word:hover {
  color: black;
}

.home-logo {
  // margin-left: -75px;
  max-width: 140px;
}

.home-logo:hover {
  background-color: lightgray;
}

.home-logo-img {
  // margin-left: -420px;
  position: relative;
  top: -4px;
  max-width: 140px;
  padding: 10px;
  // height: 30px;

}

.navbar-logout-btn-container {
  margin-left: 10px;
}

.navbar-logout-btn {
  color: #467594; 
  background-color: #DBEEFF; 
  border: 1px solid #467594;
  border-radius: 4px;
  margin-top: -28px;
  font-size: 12px;
  padding: 8px 8px;
  position: absolute;
  display: inline-block;
  top: 38px;
  text-align:center;
  // max-height: 70%;
  // max-width: 50%;
}

.navbar-logout-btn:hover, 
.navbar-logout-btn:focus, 
.navbar-logout-btn:active, 
.navbar-logout-btn.active, 
.open .dropdown-toggle.navbar-logout-btn { 
  color: #467594; 
  background-color: #B6DAFA; 
  border-color: #467594; 
} 

.navbar-logout-btn:active, 
.navbar-logout-btn.active, 
.open .dropdown-toggle.navbar-logout-btn { 
  background-image: none; 
} 
.navbar-logout-btn.disabled, 
.navbar-logout-btn[disabled], 
fieldset[disabled] .navbar-logout-btn, 
.navbar-logout-btn.disabled:hover, 
.navbar-logout-btn[disabled]:hover, 
fieldset[disabled] .navbar-logout-btn:hover, 
.navbar-logout-btn.disabled:focus, 
.navbar-logout-btn[disabled]:focus, 
fieldset[disabled] .navbar-logout-btn:focus, 
.navbar-logout-btn.disabled:active, 
.navbar-logout-btn[disabled]:active, 
fieldset[disabled] .navbar-logout-btn:active, 
.navbar-logout-btn.disabled.active, 
.navbar-logout-btn[disabled].active, 
fieldset[disabled] .navbar-logout-btn.active { 
  background-color: #DBEEFF; 
  border-color: #467594; 
} 

.navbar-logout-btn.badge { 
  color: #DBEEFF; 
  background-color: #467594;
}

// .space1 {
//   float: left;
//   width: 25%;
// }

// .space2 {
//   float: left;
//   width: 25%;
// }

// .nav-bar-buttons-wrapper {
//   float: left;
//   width: 25%;
// }

.nav-bar-buttons {
  display: flex;
  align-items: row;
  // float: left;
  // // left: 30%;
  // // position: relative;
  // text-align: right;
  // left: 650px;
  // margin-left: 20px;
  float: right;
  margin-right: 5%;
}

.btn-login { 
  color: #467594; 
  background-color: #DBEEFF; 
  border: 1px solid #467594;
  // border-color: #467594; 
  border-radius: 4px;
  margin: 4px;
  font-size: 13px;
  padding: 8px 12px;
  text-align: center;
} 

.btn-login:hover, 
.btn-login:focus, 
.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  color: #467594; 
  background-color: #B6DAFA; 
  border-color: #467594; 
} 

.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  background-image: none; 
} 

.btn-login.disabled, 
.btn-login[disabled], 
fieldset[disabled] .btn-login, 
.btn-login.disabled:hover, 
.btn-login[disabled]:hover, 
fieldset[disabled] .btn-login:hover, 
.btn-login.disabled:focus, 
.btn-login[disabled]:focus, 
fieldset[disabled] .btn-login:focus, 
.btn-login.disabled:active, 
.btn-login[disabled]:active, 
fieldset[disabled] .btn-login:active, 
.btn-login.disabled.active, 
.btn-login[disabled].active, 
fieldset[disabled] .btn-login.active { 
  background-color: #DBEEFF; 
  border-color: #467594; 
} 

.btn-login .badge { 
  color: #DBEEFF; 
  background-color: #467594; 
}

.btn-signup { 
  color: #FFFFFF; 
  background-color: #1499FF; 
  border: 1px solid #77A4C2;
  // border-color: #77A4C2; 
  border-radius: 4px;
  margin: 4px 2px;
  font-size: 13px;
  padding: 8px 12px;
} 

.btn-signup:hover, 
.btn-signup:focus, 
.btn-signup:active, 
.btn-signup.active, 
.open .dropdown-toggle.btn-signup { 
  color: #FFFFFF; 
  background-color: #0A78CC; 
  border-color: #77A4C2; 
}

.btn-signup:active, 
.btn-signup.active, 
.open .dropdown-toggle.btn-signup { 
  background-image: none; 
} 
 
.btn-signup.disabled, 
.btn-signup[disabled], 
fieldset[disabled] .btn-signup, 
.btn-signup.disabled:hover, 
.btn-signup[disabled]:hover, 
fieldset[disabled] .btn-signup:hover, 
.btn-signup.disabled:focus, 
.btn-signup[disabled]:focus, 
fieldset[disabled] .btn-signup:focus, 
.btn-signup.disabled:active, 
.btn-signup[disabled]:active, 
fieldset[disabled] .btn-signup:active, 
.btn-signup.disabled.active, 
.btn-signup[disabled].active, 
fieldset[disabled] .btn-signup.active { 
  background-color: #1499FF; 
  border-color: #77A4C2; 
} 

.btn-signup .badge { 
  color: #1499FF; 
  background-color: #FFFFFF; 
}

.search-bar {
  background-color: white;
  border-left-style: hidden;
  border-top: 1px solid #bbc0c4;
  border-right: 1px solid #bbc0c4;
  border-bottom: 1px solid #bbc0c4;
  float: right;
  outline: none;
  font-size: 13px;
  padding: 8px 12px;
  border-radius: 0px 3px 3px 0px;
  box-sizing:border-box;
  margin-top: 2px;
  margin-bottom: 8px;
}

.search-img {
  padding: 8px;
  margin-top: 2px;
  margin-bottom: 8px;
  background-color: white;
  border-top: 1px solid #bbc0c4;
  border-left: 1px solid #bbc0c4;
  border-bottom: 1px solid #bbc0c4;
  margin-left: -370px;
  color: #bbc0c4;
  border-radius: 3px 0px 0px 3px;
}

::placeholder {
  color: #bbc0c4;
}

.dropdown-icon {
  position: absolute;
  margin-top: 16px;
  // left: -100px;
  transform: translate(-50%, -50%);
  top: 0%;
  width: 40px;
  height: 43px;
  cursor: pointer;
  padding: 2px;
}

@media only screen and (max-width: 700px) {
  .search-bar {
    display: none;
  }

  .search-img {
    display: none;
  }

  .navbar-logout-btn-container {
    margin-left: -50px;
  }
}

.x-icon {
  width: 20px;
  height: 2px;
  background: #848d94;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: .2s;
}

.x-icon:before,
.x-icon:after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #848d94;
  transition: .2s;
}

.x-icon:before {
  top: -5px;
}

.x-icon:after {
  top: 5px;
}

.dropdown-icon.active .x-icon {
  background: rgba(0,0,0,0);
}

.dropdown-icon.active .x-icon:before {
  top: 0;
  transform: rotate(45deg);
}

.dropdown-icon.active .x-icon:after {
  top: 0;
  transform: rotate(135deg);
}

.dropdown-icon:hover {
    background-color: lightgray;
}

.dropdown-icon.active {
  background-color: lightgray;
}

.login-signup-btns {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.main-nav-bar-container-wrapper {
  padding: 4px 8px;
  border: 1px solid lightgray;
  border-top: 4px solid #f47f25;
  background-color: #fafafb;
  left: 0; 
  top: 0;
  width: 8000px;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.main-nav-bar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-navbar-logo {
  margin-left: 60px;
  margin-top: 4px; 
  height: 40px;
  padding: 6px;
  float: left;
}

.navbar-home-logo {
  max-width: 120px;
}

.main-navbar-logo:hover {
  background-color: lightgray;
}

.main-nav-bar-buttons {
  display: flex;
  flex-direction: row;
  // float: right;
  // margin-right: 20%;
}

.main-search-img {
  padding: 8px;
  margin-top: 2px;
  margin-bottom: 4px;
  background-color: white;
  border-top: 1px solid #bbc0c4;
  border-left: 1px solid #bbc0c4;
  border-bottom: 1px solid #bbc0c4;
  color: #bbc0c4;
  margin-left: 850px;
  border-radius: 3px 0px 0px 3px;
}

.main-search-bar {
  background-color: white;
  border-left-style: hidden;
  border-top: 1px solid #bbc0c4;
  border-right: 1px solid #bbc0c4;
  border-bottom: 1px solid #bbc0c4;
  float: right;
  outline: none;
  font-size: 13px;
  padding: 8px 12px;
  border-radius: 0px 3px 3px 0px;
  box-sizing:border-box;
  margin-top: 2px;
  margin-bottom: 4px;
  margin-right: 10px;
}

.main-btn-login { 
  color: #467594; 
  background-color: #DBEEFF; 
  border: 1px solid #467594;
  // border-color: #467594; 
  border-radius: 4px;
  margin: 2px;
  margin-right: 6px;
  font-size: 13px;
  padding: 8px 10px;
  text-align: center;
} 

.main-btn-login:hover, 
.main-btn-login:focus, 
.main-btn-login:active, 
.main-btn-login.active, 
.open .dropdown-toggle.btn-login { 
  color: #467594; 
  background-color: #B6DAFA; 
  border-color: #467594; 
} 

.main-btn-login:active, 
.main-btn-login.active, 
.open .dropdown-toggle.main-btn-login { 
  background-image: none; 
} 

.main-btn-login.disabled, 
.main-btn-login[disabled], 
fieldset[disabled] .main-btn-login, 
.main-btn-login.disabled:hover, 
.main-btn-login[disabled]:hover, 
fieldset[disabled] .main-btn-login:hover, 
.main-btn-login.disabled:focus, 
.main-btn-login[disabled]:focus, 
fieldset[disabled] .main-btn-login:focus, 
.main-btn-login.disabled:active, 
.main-btn-login[disabled]:active, 
fieldset[disabled] .main-btn-login:active, 
.main-btn-login.disabled.active, 
.main-btn-login[disabled].active, 
fieldset[disabled] .main-btn-login.active { 
  background-color: #DBEEFF; 
  border-color: #467594; 
} 

.main-btn-login .badge { 
  color: #DBEEFF; 
  background-color: #467594; 
}

.main-btn-signup { 
  color: #FFFFFF; 
  background-color: #1499FF; 
  border: 1px solid #77A4C2;
  // border-color: #77A4C2; 
  border-radius: 4px;
  margin: 2px;
  font-size: 13px;
  padding: 8px 12px;
} 

.main-btn-signup:hover, 
.main-btn-signup:focus, 
.main-btn-signup:active, 
.main-btn-signup.active, 
.open .dropdown-toggle.main-btn-signup { 
  color: #FFFFFF; 
  background-color: #0A78CC; 
  border-color: #77A4C2; 
}

.main-btn-signup:active, 
.main-btn-signup.active, 
.open .dropdown-toggle.main-btn-signup { 
  background-image: none; 
} 
 
.main-btn-signup.disabled, 
.main-btn-signup[disabled], 
fieldset[disabled] .main-btn-signup, 
.main-btn-signup.disabled:hover, 
.main-btn-signup[disabled]:hover, 
fieldset[disabled] .main-btn-signup:hover, 
.main-btn-signup.disabled:focus, 
.main-btn-signup[disabled]:focus, 
fieldset[disabled] .main-btn-signup:focus, 
.main-btn-signup.disabled:active, 
.main-btn-signup[disabled]:active, 
fieldset[disabled] .main-btn-signup:active, 
.main-btn-signup.disabled.active, 
.main-btn-signup[disabled].active, 
fieldset[disabled] .main-btn-signup.active { 
  background-color: #1499FF; 
  border-color: #77A4C2; 
} 

.main-btn-signup .badge { 
  color: #1499FF; 
  background-color: #FFFFFF; 
}