// need to move rest of navbar scss code from application to here
// will look neater
  .nav-bar-container {
    padding: 4px 8px;
    border: 1px solid lightgray;
    border-top: 4px solid orange;
    background-color: #fafafb;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
  }

    .nav-bar-header {
    font-size: 20px;
    padding: 4px 8px;
    display: flex;
    flex-direction: row;
  }

  .dropdown-img {
    padding: 2px;
    color: #848d94;
  }

  .dropbtn {
  background-color: #fafafb;
  // color: white;
  padding: 2px 10px;
  font-size: 22px;
  border: none;
  margin-left: -10px;
}

.dropbtn:hover {
  background-color: #e5e6e8;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  // min-width: 160px;
  // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  // z-index: 1;

}

.dropdown-content p {
  color: #525a60;
  padding: 6px 30px;
  text-decoration: none;
  display: block;
  font-size: 12px;
  // margin-left: 12px;
  width: 120px;
}

.dropdown-content a:hover {color: black}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-public {
  font-size: 12px;
  // position: relative;
  // left: 0px;
  // padding: 2px; 
}

.dropdown-home {
  // background-color: #eff0f1;
  text-align: left;
}

.dropdown-questions {
  position: relative;
  left: 10px;
}
  .home-logo {
    // padding: 2px;
    margin-left: 12px;
    margin-top: 6px;
  }

  .for-word-proofs {
    display: inline-block;
    margin-left: 8px;
    margin-right: 4px;
    margin-top: 4px;
  }

  .for-word-line {
    display: inline-block;
    font-weight: bold;
    margin-top: 4px;
  }

.navbar-logout-btn {
  color: #467594; 
  background-color: #DBEEFF; 
  border-color: #467594; 
  border-radius: 4px;
  margin-top: -20px;
  margin-left: -80px;
  font-size: 12px;
  padding: 8px 12px;
  position: fixed;
}

.navbar-logout-btn:hover, 
.navbar-logout-btn:focus, 
.navbar-logout-btn:active, 
.navbar-logout-btn.active, 
.open .dropdown-toggle.navbar-logout-btn { 
  color: #467594; 
  background-color: #B6DAFA; 
  border-color: #467594; 
} 

.navbar-logout-btn:active, 
.navbar-logout-btn.active, 
.open .dropdown-toggle.navbar-logout-btn { 
  background-image: none; 
} 
.navbar-logout-btn.disabled, 
.navbar-logout-btn[disabled], 
fieldset[disabled] .navbar-logout-btn, 
.navbar-logout-btn.disabled:hover, 
.navbar-logout-btn[disabled]:hover, 
fieldset[disabled] .navbar-logout-btn:hover, 
.navbar-logout-btn.disabled:focus, 
.navbar-logout-btn[disabled]:focus, 
fieldset[disabled] .navbar-logout-btn:focus, 
.navbar-logout-btn.disabled:active, 
.navbar-logout-btn[disabled]:active, 
fieldset[disabled] .navbar-logout-btn:active, 
.navbar-logout-btn.disabled.active, 
.navbar-logout-btn[disabled].active, 
fieldset[disabled] .navbar-logout-btn.active { 
  background-color: #DBEEFF; 
  border-color: #467594; 
} 

.navbar-logout-btn.badge { 
  color: #DBEEFF; 
  background-color: #467594;
}

.nav-bar-buttons {
  display: flex;
  align-items: row;
  height: 44px;
}

.search-bar {
  margin: 4px 4px;
  font-size: 12px;
  padding: 8px 12px;
  // height: 35px;
}

.btn-login { 
  color: #467594; 
  background-color: #DBEEFF; 
  border-color: #467594; 
  border-radius: 4px;
  margin: 4px 2px;
  font-size: 12px;
  padding: 8px 12px;
} 

.btn-login:hover, 
.btn-login:focus, 
.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  color: #467594; 
  background-color: #B6DAFA; 
  border-color: #467594; 
} 

.btn-login:active, 
.btn-login.active, 
.open .dropdown-toggle.btn-login { 
  background-image: none; 
} 

.btn-login.disabled, 
.btn-login[disabled], 
fieldset[disabled] .btn-login, 
.btn-login.disabled:hover, 
.btn-login[disabled]:hover, 
fieldset[disabled] .btn-login:hover, 
.btn-login.disabled:focus, 
.btn-login[disabled]:focus, 
fieldset[disabled] .btn-login:focus, 
.btn-login.disabled:active, 
.btn-login[disabled]:active, 
fieldset[disabled] .btn-login:active, 
.btn-login.disabled.active, 
.btn-login[disabled].active, 
fieldset[disabled] .btn-login.active { 
  background-color: #DBEEFF; 
  border-color: #467594; 
} 

.btn-login .badge { 
  color: #DBEEFF; 
  background-color: #467594; 
}

.btn-signup { 
  color: #FFFFFF; 
  background-color: #1499FF; 
  border-color: #77A4C2; 
  border-radius: 4px;
  margin: 4px 2px;
  font-size: 12px;
  padding: 8px 12px;
} 

.btn-signup:hover, 
.btn-signup:focus, 
.btn-signup:active, 
.btn-signup.active, 
.open .dropdown-toggle.btn-signup { 
  color: #FFFFFF; 
  background-color: #0A78CC; 
  border-color: #77A4C2; 
}

.btn-signup:active, 
.btn-signup.active, 
.open .dropdown-toggle.btn-signup { 
  background-image: none; 
} 
 
.btn-signup.disabled, 
.btn-signup[disabled], 
fieldset[disabled] .btn-signup, 
.btn-signup.disabled:hover, 
.btn-signup[disabled]:hover, 
fieldset[disabled] .btn-signup:hover, 
.btn-signup.disabled:focus, 
.btn-signup[disabled]:focus, 
fieldset[disabled] .btn-signup:focus, 
.btn-signup.disabled:active, 
.btn-signup[disabled]:active, 
fieldset[disabled] .btn-signup:active, 
.btn-signup.disabled.active, 
.btn-signup[disabled].active, 
fieldset[disabled] .btn-signup.active { 
  background-color: #1499FF; 
  border-color: #77A4C2; 
} 

.btn-signup .badge { 
  color: #1499FF; 
  background-color: #FFFFFF; 
}

.search-bar {
  // float: right;
  // border-left-style: hidden;
  background-color: white;
  // border-color: #bbc0c4;
  // border-width: 1px;
  border-left-style: hidden;
  border-top: 1px solid #bbc0c4;
  border-right: 1px solid #bbc0c4;
  border-bottom: 1px solid #bbc0c4;
  margin-left: -8px;
  float: right;
  outline: none;
}

.search-img {
  padding: 8px 10px;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 26px;
  background-color: white;
  border-top: 1px solid #bbc0c4;
  border-left: 1px solid #bbc0c4;
  border-bottom: 1px solid #bbc0c4;
  // width: 1px;
  overflow: hidden;
  margin-left: 8px;
}

