.search-sidebar {
    margin-top: -55px;
}

.search-section-container {
    margin-left: 250px;
    margin-top: 54px;
    border-left: 1px solid #d7d9dc;
    height: 600px;
    padding-left: 40px;
}

.search-header {
    font-size: 27px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    padding: 8px;
    padding-top: 30px;
}

.main-searchbar-container {
    padding: 8px;
}

.main-searchbar {
    width: 650px;
    padding: 8px;
}