.sidebar {
    // margin-top: 80px;
    // position: relative;
    margin-left: 10px;
}

.sidebar-home-link {
    color: #5b6268;
}

.sidebar-home-link:hover {
    text-decoration: none;
    color: black;
}

.sidebar-home {
    padding: 4px;
}

.sidebar-public {
    padding: 4px;
}

.sidebar-title {
    background-color: #eff0f1;
    width: 200px;
    margin-left: -10px;
}

.sidebar-title-word {
    padding: 4px;
    margin-left: 30px;
}

.sidebar-title-link {
    color: black;
    font-weight: 700;
}

.sidebar-title-link:hover {
    text-decoration: none;
    color: black;
}