.sidebar {
    position: fixed;
    margin-top: 75px;
    margin-left: 110px;
}

.sidebar-home-link {
    color: #5b6268;
}

.sidebar-home-link:hover {
    text-decoration: none;
    color: black;
}

.sidebar-home {
    padding: 4px;
    padding-bottom: 8px;
    font-size: 13px;
}

.sidebar-public {
    padding: 4px;
    font-size: 12px;
}

.sidebar-title {
    // if on questions
    // background-color: #eff0f1;
    width: 150px;
}

.sidebar-title-link {
    color: #5b6268;
}

.sidebar-title-word {
    font-size: 14px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    padding: 8px 6px 8px 8px;
}

.sidebar-title-link:hover {
    text-decoration: none;
    color: black;
}

.sidebar-jobs {
    margin-left: 20px;
    font-size: 14px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    padding: 8px 6px 8px 8px;
}

.sidebar-job-link {
    color: #545c61;
}

.sidebar-job-link:hover {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1080px) {
    .sidebar {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 1024px) {
    .sidebar {
        transform: translateX(-50px);
    }
}
