.whole-signup-form {
  width: auto;
//   margin-top: 10px;
  height: 800px;
  background-color: #eff0f1;
//   background-position: top;
// padding: 10px;
// height: 1000px;
// background-position: center top;
// position: fixed;
}

.signup-form-center {
  // position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 6px;
  // margin: 10px 250px;
  // width: 0vw;
  // position: fixed;
  // top: 38%;
  // left: 50%;
}

.signup-description {
    // display: flex;
    // justify-content: center;
    padding: 10px 30px;
    flex-direction: column;
    //   margin: 150px 100px 250px;
    margin-top: 220px;
    margin-left: -380px;
    // width: 0vw;
    //   position: absolute;
    //   top: 60%;
    //   left: 20%;
    //   max-width: 480px;
    // max-height: 500px;
    // position: fixed;
}

.signup-form {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
  padding: 40px 30px;
  margin-top: -155px;
  margin-left: 400px;
//   position: fixed;
//   top: 10%;
//   left: 20px;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: lightgray;
  background-color: white;
//   width: 50%;
    // float: left;
    // position: relative;
    float: right;
}

@media all and (max-width: 900px) {
    .signup-description { display: none; }
    .signup-form {
        // display: inline-block;
      margin-left: 10px;
      margin-top: 200px;
    }
}

// @media all and (max-height: 10px) {
//     .whole-signup-form {
//         position: relative;
//     }
// }

.signup-submit-btn {
  color: #FFFFFF; 
  background-color: #0394ff; 
  border-color: #7dbfff; 
  border-radius: 3px;
  margin: 4px 2px;
  padding: 10px 10px 10px;
  font-size: 12px;
  width: 240px;
//   display: inline-block;
  // text-align: center;
  // width: fit-content;
  // line-height: 2;
  box-shadow: 0 -1px#b7cbbe;
}

.signup-submit-btn:hover, 
.signup-submit-btn:focus, 
.signup-submit-btn:active, 
.signup-submit-btn.active, 
.open .dropdown-toggle.signup-submit-btn { 
  color: #FFFFFF; 
  background-color: #0176cc; 
  border-color:#78ade1; 
  box-shadow: #0176cc;
} 

.signup-submit-btn:active, 
.signup-submit-btn.active, 
.open .dropdown-toggle.signup-submit-btn { 
  background-image: none; 
} 

.signup-submit-btn.disabled, 
.signup-submit-btn[disabled], 
fieldset[disabled] .signup-submit-btn, 
.signup-submit-btn.disabled:hover, 
.signup-submit-btn[disabled]:hover, 
fieldset[disabled] .signup-submit-btn:hover, 
.signup-submit-btn.disabled:focus, 
.signup-submit-btn[disabled]:focus, 
fieldset[disabled] .signup-submit-btn:focus, 
.signup-submit-btn.disabled:active, 
.signup-submit-btn[disabled]:active, 
fieldset[disabled] .signup-submit-btn:active, 
.signup-submit-btn.disabled.active, 
.signup-submit-btn[disabled].active, 
fieldset[disabled] .signup-submit-btn.active {
  background-color: #0176cc; 
  border-color: #78ade1; 
  box-shadow: #0176cc;
}

.signup-submit-btn.badge { 
  color: #0176cc; 
  background-color: #FFFFFF; 
  box-shadow: #0176cc;
}

.signup-textbox {
  border-radius: 4px;
  border: 0.5px solid lightgray;
  padding: 6px;
//   position: fixed;
width: 240px;
}

.signup-errors {
  color: #d1383d;
  list-style-type: none;
  font-size: 9.5px;
  position: relative;
  left: -40px;
}